@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monea';
  src: url('./assets/fonts/Monea_Alegante.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: #E5AE8F;
}

h1 {
  font-family: Monea;
  font-size: 5rem;
}

p {
  font-family: Quicksand;
}
